<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyj.mapper.PostMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.cyj.pojo.Post">
                    <id column="id" property="id"/>
                    <result column="userId" property="userId"/>
                    <result column="categoriesId" property="categoriesId"/>
                    <result column="content" property="content"/>
                    <result column="starCount" property="starCount"/>
                    <result column="likeCount" property="likeCount"/>
                    <result column="hitCount" property="hitCount"/>
                    <result column="create_time" property="createTime"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="version" property="version"/>
                    <result column="deleted" property="deleted"/>
            <result column="postId" property="postId"></result>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, userId, categoriesId, content, starCount, likeCount, hitCount, create_time, update_time, version, deleted,postId
        </sql>
    <select id="queryByKeywords" resultType="com.cyj.pojo.Post" parameterType="string">
        SELECT * FROM post
        WHERE post.`content` LIKE #{keyword}
    </select>

</mapper>